#header{
    background-image: url("../../images/personalInfoHeader.jpg");
    background-color: rgba(0, 0, 0, 0.49);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

#info{
    background-color: bisque;
    flex-direction: row;
    justify-content: space-around;
}
#info figure{
    flex : 3;
    height: 100%;
}
#info figure img{
    height : 80%; 
}
#info div{
    flex : 1;
}
#info > figure img{
    border : 7px inset black;
    border-radius : 10px;
}

#dream{
    background-color: bisque;
}

#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: bisque;
}

figure{
    display: flex;
    justify-content: space-around;
}
figure a:hover{
    box-shadow: 5px 5px 50px orange;
}