*{
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
}

a{
  text-decoration: none;
}
a:hover{
  font-size : 100;
  font-weight: bold;
}

#leftContainer, #rigthContainer {
  height: 100%; /* 페이지 전체 높이에 맞게 */
}

#leftContainer {
  flex: 1;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.8);
}

#rigthContainer {
  flex: 4.5;
  border: none;
}

#profile, #table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#table{
  height: 100%;
  justify-content: space-around;
}