#header{
    background-image: url("../../images/schoolLifePageHeader.jpg");
    background-color: rgba(0, 0, 0, 0.49);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

#scholar{
    background-image: url("../../images/shinDoor.jpg");
    background-color: rgba(0, 0, 0, 0.49);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

#timeTable{
    background-color: bisque;
}