*{
	padding: 0;
	margin: 0;
	font-family: "Jua", sans-serif;
}

html,body{
	width: 100%;
	height: 100%;
	scroll-snap-type: y mandatory;
}

.section{
	scroll-snap-align: start;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#major{
	background-color: tomato;
}

#schedule{
	background-color: tan;
}

#club{
	background-color:thistle;
}

table{
	border : 3px solid black;
	border-collapse: collapse;
}
caption{
	font-size: 28px;
	font-weight: bold;
}
td, th{
	border : 3px solid black;
	text-align: center;
	font-size : 20px;
	padding : 10px
}
.subject{
	color:white;
	font-weight: 400;
}
.subject:hover{
	font-weight: bold;
	color : hotpink
}
#linux{
	background-color: #C2786B;
}
#creativeEngineering{
	background-color: #C5AA67;
}
#practicalEnglish{
	background-color: #96AC6B;
}
#cppProgramming{
	background-color: #7CB2A5;
}
#webProgramming{
	background-color: #728DC4;
}
#math{
	background-color: #CE9663;
}
#writing{
	background-color: #8575BC;
}