* {
	font-family: "Jua", sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin : 0;
}

html, body{
	width: 100%;
	height: 100%;
}


#mainHome {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: url("../images/homeWallpaper.jpg");
	background-color: rgba(0, 0, 0, 0.638);
	background-size: cover;
	background-position: center;
	background-blend-mode: darken; 
	align-items: center;
	justify-content: center;
	color:white
}

#openingComment, #personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.638);
	background-size: cover;
	background-position: center;
	background-blend-mode: darken; 
	color:white;
	scroll-snap-type: y mandatory
}

#openingComment{
	background-image: url("../images/openingCommentImg.gif");
}

#personalInfo{
	background-image: url("../images/personalInfoImg.jpg");
}

.animatedTextContainer > *{
	transition: all 1s;
	opacity: 0;
}